<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url('assets/12.jpg'); background-size: cover; background-position: center;">  
    <mat-card class="uk-width-1-3@m">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <mat-toolbar class="uk-flex-center">Forgot Password</mat-toolbar>
        </div>
      <mat-card-content>
        <mat-form-field class="uk-width-1-1">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. abhysta@gmail.com" value="">
          </mat-form-field>
          <div class="uk-flex uk-flex-right">
              <div class="uk-width-expand">
                <button mat-button routerLink="/register">Create Account</button>
              </div>
              <button mat-raised-button class="warnafont">SEND</button>
          </div>
      </mat-card-content>
    </mat-card>
</div>