mat-card{
    background: none;
    border: solid white;
}

mat-toolbar{
    background-color: white;
}
mat-form-field{
    color: white;
}

mat-label{
    color: white;
}

button{
    color: black;
}

.warnafont{
    color: black;
}