<div class="uk-padding">
    <mat-vertical-stepper>
        <mat-step>
          <ng-template matStepLabel>Step 1</ng-template>
          <p class="uk-text-break">Pilih Tambah Produk</p>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Step 2</ng-template>
            <p class="uk-text-break">This content was rendered eagerly</p>
            <button mat-button matStepperNext>Next</button>
            <button mat-button matStepperPrevious>Back</button>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Step 3</ng-template>
            <p class="uk-text-break">This content was rendered eagerly</p>
            <button mat-button matStepperPrevious>Back</button>
          </mat-step>
      </mat-vertical-stepper>
</div>