<div class="uk-padding">
    <div class="uk-margin-medium uk-text-middle uk-text-center uk-text-left@s" uk-grid>
        <div class=" uk-visible@s uk-width-1-6@s uk-float-right">
            <p>Halooo</p>
        </div>  
        <div class="uk-width-4-5@s">
            <h1>Sejarah WEB</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
          
    </div>

    <div class="uk-panel uk-margin-medium uk-text-middle uk-text-center uk-text-left@s">
        <div class="uk-width-1-5@s"></div>
        <div class="uk-width-4-5@s">
            <h1>Visi WEB</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="uk-panel uk-margin-medium uk-text-middle uk-text-center">
        <div class="uk-width-1-5@s"></div>
        <div class="uk-width-4-5@s">
            <h1>Tentang Pembuat</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>